[Unit]
Description=the-coding-love-random
After=network.target

[Service]
ExecStart=/bin/bash -c "source /app/the-coding-love-random.siimp.ee/env/bin/activate && python3 /app/the-coding-love-random.siimp.ee/server.py"
Restart=always

[Install]
WantedBy=multi-user.target
