[Unit]
Description=nasdaqbaltic-backend
After=syslog.target

[Service]
User=nasdaqbaltic-backend
ExecStart=/bin/bash -c "java -XX:+UnlockExperimentalVMOptions -XX:+EnableJVMCI -XX:+UseJVMCICompiler -Xmx128m -jar /home/sites/dividend-yields.siimp.ee/backend/nasdaqbaltic.jar --spring.config.location=file:/home/sites/dividend-yields.siimp.ee/backend/"
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
